
.nav{
    display: flex;
    justify-content:center;
    font-size: 40px;
    margin : 0px;
    width : 100%
    padding: 20px;
    background-color:darkmagenta;
    color: white;
    word-spacing: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display:flex;
    justify-content:start;
    margin:5px;
}

.label1{
    padding-right: 10px;
}


input[type=text],select{
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],select{
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    display:block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
.label3{
    margin-left: 15px;
}

.exp{
    margin-left: 15px;
    margin-top: 10px;
}
ul{
    padding:0px;
    margin:0px;
}

ul>li {
    list-style-type:none;
    display: inline;
    font-size: 20px;
    text-shadow: 2px 2px 7px grey;
    margin-left: 3px;
    margin-top:2px;
    padding-left: 10px;
    color:white;
    border-color: grey;
}

ul>li:hover{
    color:yellow;
}
ul li.active, ul li.secondary-active{
    color:yellow;
}

input[type="radio1"]{
    display: none;
}

.exptxt, {
    margin-left: 15px;
    margin-top: 10px;
}

.exptxt1{
    margin-left: 15px;
    margin-top:10px;
}
table{
    margin-left: 15px;
    border-collapse: collapse;
    border-radius: 80%;
}

th {
    margin-left:1000px;
    border: none;
    text-align: center;
    padding: 10px;
}

td{
    text-align:center;
    padding : 10px;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td:first-child,th:first-child {
  border-radius: 7px 0 0 7px;
}
td:last-child,th:last-child {
  border-radius: 0 7px 7px 0;
}

.exptxt2{
    margin-top: 10px;
    margin-left: 15px;
}
.addcmt{
    margin-left: 15px;
    margin-top:20px;
    margin-bottom: 15px;
}
textarea{
    margin-top:5px;
    display: block;
}

.button{
    margin-left: 15px;
    margin-bottom: 20px;
}
